# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [12]:
import pandas as pd
import numpy as np

In [13]:
from numpy.random import randn
np.random.seed(101)

In [14]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [15]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [16]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [19]:
df['Z']

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: Z, dtype: float64

In [26]:
# Pass a list of column names
df.W , df.Z

(A    2.706850
 B    0.651118
 C   -2.018168
 D    0.188695
 E    0.190794
 Name: W, dtype: float64, A    0.503826
 B    0.605965
 C   -0.589001
 D    0.955057
 E    0.683509
 Name: Z, dtype: float64)

In [27]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [21]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series

In [22]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [23]:
df['new'] = df['W'] + df['Y']

In [24]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

** Removing Columns**

In [28]:
df['new'] = df['W'] + df['X'] + df['Y']

In [29]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  4.242952
B  0.651118 -0.319318 -0.848077  0.605965 -0.516277
C -2.018168  0.740122  0.528813 -0.589001 -0.749233
D  0.188695 -0.758872 -0.933237  0.955057 -1.503414
E  0.190794  1.978757  2.605967  0.683509  4.775519

# df.drop('new',axis=1)

In [40]:
df.drop('Y',axis=1,inplace= True)

In [41]:
df

          W         X         Z
A  2.706850  0.628133  0.503826
B  0.651118 -0.319318  0.605965
C -2.018168  0.740122 -0.589001
D  0.188695 -0.758872  0.955057
E  0.190794  1.978757  0.683509

Can also drop rows this way:

In [111]:
df.drop('E',axis=0)

KeyError: 'E'

** Selecting Rows**

In [110]:
df.loc['A']

KeyError: 'the label [A] is not in the [index]'

Or select based off of position instead of label

In [44]:
df.iloc[2]

W   -2.018168
X    0.740122
Z   -0.589001
Name: C, dtype: float64

In [46]:
df.iloc[0]

W    2.706850
X    0.628133
Z    0.503826
Name: A, dtype: float64

** Selecting subset of rows and columns **

In [48]:
df.loc['B','X']

-0.31931804459303326

In [49]:
df.loc[['A','B'],['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [50]:
df

          W         X         Z
A  2.706850  0.628133  0.503826
B  0.651118 -0.319318  0.605965
C -2.018168  0.740122 -0.589001
D  0.188695 -0.758872  0.955057
E  0.190794  1.978757  0.683509

In [51]:
df>0

       W      X      Z
A   True   True   True
B   True  False   True
C  False   True  False
D   True  False   True
E   True   True   True

In [52]:
df[df>0]

          W         X         Z
A  2.706850  0.628133  0.503826
B  0.651118       NaN  0.605965
C       NaN  0.740122       NaN
D  0.188695       NaN  0.955057
E  0.190794  1.978757  0.683509

In [53]:
df[df['W']>0]

          W         X         Z
A  2.706850  0.628133  0.503826
B  0.651118 -0.319318  0.605965
D  0.188695 -0.758872  0.955057
E  0.190794  1.978757  0.683509

In [54]:
df[df['W']>0]['Z']

A    0.503826
B    0.605965
D    0.955057
E    0.683509
Name: Z, dtype: float64

In [55]:
df[df['W']>0][['Z','X']]

          Z         X
A  0.503826  0.628133
B  0.605965 -0.319318
D  0.955057 -0.758872
E  0.683509  1.978757

For two conditions you can use | and & with parenthesis:

In [56]:
df[(df['W']>0) & (df['X'] > 1)]

          W         X         Z
E  0.190794  1.978757  0.683509

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [57]:
df

          W         X         Z
A  2.706850  0.628133  0.503826
B  0.651118 -0.319318  0.605965
C -2.018168  0.740122 -0.589001
D  0.188695 -0.758872  0.955057
E  0.190794  1.978757  0.683509

In [58]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Z
0     A  2.706850  0.628133  0.503826
1     B  0.651118 -0.319318  0.605965
2     C -2.018168  0.740122 -0.589001
3     D  0.188695 -0.758872  0.955057
4     E  0.190794  1.978757  0.683509

In [59]:
newind = 'CA NY WY OR CO'.split()

In [60]:
df['States'] = newind

In [61]:
df

          W         X         Z States
A  2.706850  0.628133  0.503826     CA
B  0.651118 -0.319318  0.605965     NY
C -2.018168  0.740122 -0.589001     WY
D  0.188695 -0.758872  0.955057     OR
E  0.190794  1.978757  0.683509     CO

In [62]:
df.set_index('States')

               W         X         Z
States
CA      2.706850  0.628133  0.503826
NY      0.651118 -0.319318  0.605965
WY     -2.018168  0.740122 -0.589001
OR      0.188695 -0.758872  0.955057
CO      0.190794  1.978757  0.683509

In [69]:
df.reset_index()

  index         W         X         Z States
0     A  2.706850  0.628133  0.503826     CA
1     B  0.651118 -0.319318  0.605965     NY
2     C -2.018168  0.740122 -0.589001     WY
3     D  0.188695 -0.758872  0.955057     OR
4     E  0.190794  1.978757  0.683509     CO

In [100]:
df.set_index('States',inplace= True)

KeyError: 'States'

In [99]:
df

               W         X         Z
States
CA      2.706850  0.628133  0.503826
NY      0.651118 -0.319318  0.605965
WY     -2.018168  0.740122 -0.589001
OR      0.188695 -0.758872  0.955057
CO      0.190794  1.978757  0.683509

In [34]:
df

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [112]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [113]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [114]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.497104 -0.754070
   2 -0.943406  0.484752
   3 -0.116773  1.901755
G2 1  0.238127  1.996652
   2 -0.993263  0.196800
   3 -1.136645  0.000366

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [115]:
df.loc['G1']

          A         B
1 -0.497104 -0.754070
2 -0.943406  0.484752
3 -0.116773  1.901755

In [107]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [41]:
df.index.names

FrozenList([None, None])

In [42]:
df.index.names = ['Group','Num']

In [43]:
df

                  A         B
Group Num
G1    1   -0.993263  0.196800
      2   -1.136645  0.000366
      3    1.025984 -0.156598
G2    1   -0.031579  0.649826
      2    2.154846 -0.610259
      3   -0.755325 -0.346419

In [44]:
df.xs('G1')

            A         B
Num
1   -0.993263  0.196800
2   -1.136645  0.000366
3    1.025984 -0.156598

In [45]:
df.xs(['G1',1])

A   -0.993263
B    0.196800
Name: (G1, 1), dtype: float64

In [46]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.993263  0.196800
G2    -0.031579  0.649826